body {
    background-color: #000;
    padding: 20px;
}

.clear_both {
    clear: both;
    line-height: 1px;
}

.video_gallery_container {
    padding: 25px 0 25px 115px;
    border: 2px solid #444;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #000 url(../images/filmstrip_tile.png) repeat-y 0px 0px;
}

a.videoLink {
    display: block;
    margin: 0 15px 15px 0;
    padding: 0px;
    width: 200px;
    height: 115px;
    float:left;
    position: relative;
    cursor: pointer;
    background: #555 no-repeat 0px 0px;
    border: 1px solid black;
}

a.videoLink:hover {
    border-color: #fff;
}